<html lang="en" ng-app="submarineList">
<head>
  <meta charset="UTF-8">
  <title>Buy several Submarines</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/BulkController.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container" ng-controller="SubmarinesCtrl">
    <div class="row">
      <h2>Buy some Submarines!</h2>
      <ul>
        <li ng-repeat="item in submarines">{{item.name}}
          <button ng-click="addToCart(item)" class="btn btn-success btn-xs">Add to cart</button>
          <button ng-click="show_details = true" class="btn btn-info btn-xs" ng-hide="show_details">Details</button>
          <ul ng-show="show_details">
            <li>{{item.depth}} ul</li>
            <li>{{item.power}}</li>
            <li>{{item.price}} USD</li>
            <button ng-click="show_details = false" class="btn btn-info btn-xs">Hide</button>
          </ul>
        </li>
      </ul>
    </div>
    <div class="row">
      <h2>Shopping Cart</h2>
      <h4>Order total: $<span ng-show="total">{{total}}</span></h4>
      <ul>
        <li ng-repeat="item in cart track by $index">{{item.name}}</li>
      </ul>
    </div>
  </div>

</body>
</html>
